.form {
    background-color: white;
     
    display: flex;
    flex-direction: column;
    border-radius: 2px;
     width: 35%;
    align-items: center;
     
box-shadow: 0 15px 30px rgba(201, 201, 201, 0.678);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3)
}
.formHead {
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
}
.formInputHandle {
    margin: 1rem;
    width: 80%;
}
@media only screen and (max-width: 768px) {
    .form {
       width: 100%;
         
    }
    .formInputHandle {
        width: 90%;
        margin: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    .form {
       width: 100%;
         
    }
    .formInputHandle {
        width: 90%;
        margin: 1rem;
    }
}