.formMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
}
.formMainTop P {
     color: rgb(255, 225, 57);
     margin-bottom: 1rem;
}
.formMainTop h1 {
    color: white;
    font-size: 3.5rem;
}
.formMainBot {
    height: 20vh;
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .formMainTop h1 {
       
        font-size: 2rem;
    }

    .formMainBot {
        height: auto;
        padding: 1rem;
    }
}