.footerLeft {
    display: flex;
    flex-direction: column;
    height:80vh;
    justify-content: space-evenly;
}
.Topcontainer {
    display: flex;
    margin-bottom: 5px;
    
}
.Topcontainer h1 {
    color: #FFDC78;
    font-weight: 600;
    margin: 3px;
}
.imgContainer {
    height: 50px;
    width: 50px;
    position: relative;
     
}

.middleContainer {
    display: flex;
    color: white;
    flex-direction: column;
}
.middleContainer ul {
    display: flex;
    list-style: none;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 10px;
}

.middleContainer ul li {
    margin-bottom: 10px;
    margin-right: 5px;
    font-weight: 600;
    
}
.iconsContainer {
      color: brown;
}

.botFooter {
    height: 15vh;
    width: 250px;
    color: white;
    background-color: rgb(13, 20, 46);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

 